{{!-- Header --}}
<div class="row">
    <h1 class="title">Burger On Handlebars</h1>
</div>

{{!------  Submit Own Burger Form ------}}
.<div class="row form-wrapper">
  <form class="order-form">
    <label for="new-burger">Enter your favourite burger below and click the "ORDER NOW" button.</label>
    <textarea placeholder="My favourite burger ..." id="new-burger" class="u-full-width"></textarea>
    <button class="order-btn" type="submit">Order Now</button>
  </form>
</div>

<div class="row">
    {{!------ List of burgers to devour ------}}
    <div class="six columns list">
        <div>
            <h4> Burgers to Be Devoured
                <i class="fa fa-cutlery utensil" aria-hidden="true"></i>
            </h4>
        </div>
        {{!-- Dynamically generated list --}}
        <div>
            <ul class="list to-devour">
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-item">
                    {{id}}. {{burger_name}}
                    <button type="submit" class="u-pull-right devour-btn" data-id="{{id}}"
                        data-devoured={{devoured}}>{{burger_name}}
                    </button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
    {{!------ Burgers devoured ------}}
    <div class="six columns list">
        <h4> Burgers Already Devoured
            <i class="fa fa-smile-o smile" aria-hidden="true"></i>
        </h4>
        {{!-- Dynamically generated list --}}
        <ul class="list devoured">
            {{#each burgers}}
            {{#if devoured}}
            <li class="list-item">
                {{id}}. {{burger_name}}
            </li>
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>