{{!-- Header --}}
<div class="row">
    <h1 class="title">Burger On Handlebars</h1>
</div>

<div class="row">
    {{!------ List of burgers to devour ------}}
    <div class="six columns list">
        <div>
            <h4> Burgers to Be Devoured
                <i class="fa fa-cutlery utensil" aria-hidden="true"></i>
            </h4>
        </div>
        {{!-- Dynamically generated list --}}
        <div>
            <ul class="list to-devour">
                {{#each burgers}}
                {{#unless devoured}}
                <li class="list-item">
                    {{id}}. {{burger_name}}
                    <button type="submit" class="u-pull-right devour-btn" data-id="{{id}}"
                        data-devoured={{devoured}}>{{burger_name}}
                    </button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>