{{!------- Body Container -------}}
<div class="container-fluid">
    {{!------- Header -------}}
    <div class="row">
        <div class="col text-center text-light p-2">
            <h1>Full Stack Burgers</h1>
        </div>
    </div>
    {{!------ Form -------}}
    <div class="row text-center justify-content-center text-light p-2">
        <form class="order-form">
            <div class="form-row">
                <label for="new-burger">Enter your favourite burger below to "ORDER NOW".</label>
            </div>
            <div class="form-row justify-content-center p-2">
                <textarea class="col-6" placeholder="My favourite burger ..." id="new-burger"></textarea>
            </div>
            <div class="form-row justify-content-center p-2">
                <button class="btn btn-light btn-md order-btn text-success" type="submit">Order Now</button>
            </div>
        </form>
    </div>
    {{!------ List of burgers to devour ------}}
    <div class="row justify-content-center">
        <div class="col-5 p-2 m-1 text-dark text-center">
            <div class="not-devoured">
                <h4> Burgers to Be Devoured </h4>
            </div>
            {{!-- Dynamically generated list --}}
            <div>
                <ul class="list to-devour">
                    {{#each burgers}}
                    {{#unless devoured}}
                    <li class="list-item text-center p-1">
                        {{id}}. {{burger_name}}
                        <button type="submit" class="btn btn-success btn-sm devour-btn" data-id="{{id}}"
                            data-devoured={{devoured}}>Devour It!
                            {{!-- {{burger_name}} --}}
                        </button>
                    </li>
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
        {{!------ Burgers devoured ------}}
        <div class="col-5 p-2 m-1 text-dark text-center">
            <div class="devoured">
                <h4> Already Devoured</h4>
            </div>
            {{!-- Dynamically generated list --}}
            <ul class="list devoured">
                {{#each burgers}}
                {{#if devoured}}
                <li class="list-item text-center p-1">
                    {{id}}. {{burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>